.logo-nav-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.logo-nav-container-img{
  width: 100px;

}

.logo {
  letter-spacing: 5px;
  font-size: 1.3em;
}